<div class="card-game">
  <h1>Highest Card Wins</h1>
  <p>Round: {{ round }} / {{ maxRounds }}</p>
  <button
    (click)="drawCard()"
    [disabled]="
      round >= maxRounds ||
      result === 'No more cards in the deck. Resetting game.'
    "
  >
    Draw Card
  </button>

  <div class="card-container">
    <div class="card" *ngIf="player1Card">
      <span class="rank">{{ player1Card.split(" ")[0] }}</span>
      <span class="suit">{{ getSuitSymbol(player1Card.split(" ")[2]) }}</span>
    </div>
    <div class="card" *ngIf="player2Card">
      <span class="rank">{{ player2Card.split(" ")[0] }}</span>
      <span class="suit">{{ getSuitSymbol(player2Card.split(" ")[2]) }}</span>
    </div>
  </div>

  <h2>{{ result }}</h2>

  <div class="scoreboard">
    <p>Player 1's score: {{ player1Score }}</p>
    <p>Player 2's score: {{ player2Score }}</p>
  </div>

  <h2 *ngIf="winner">{{ winner }}</h2>

  <button (click)="resetGame()" *ngIf="round >= maxRounds">Restart Game</button>
</div>
